In [44]:
import pandas as pd
import numpy as np
import time

df = pd.DataFrame(np.random.normal(0, 1, size=100).reshape(10, 10))
treatment = np.random.normal(0, 1, size=10)

In [4]:
%timeit df.assign

43.1 ns ± 0.21 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [19]:
%timeit np.append

26.6 ns ± 0.209 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [9]:
times = []
for _ in range(1000):
    start = time.time()
    df.assign(**{"treatment": treatment})
    times.append(time.time() - start)
print(np.mean(times), np.std(times))

0.00011773276329040528 0.00013645231176913705

In [18]:
times = []
mat = df.values
for _ in range(1000):
    start = time.time()
    np.append(mat, treatment)
    times.append(time.time() - start)
print(np.mean(times), np.std(times))

4.015684127807617e-06 1.7900025437425632e-05

In [24]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(df, treatment)
lin_reg.predict(df)

array([-0.63669459, -0.43538217, -1.4334519 ,  0.31396036,  1.96133604,
       -0.03304065,  1.58518935,  1.31102446,  0.54327228, -0.51084767])

In [29]:
df = df.assign(**{"treatment": treatment})

In [30]:
df.head()

,0,1,2,3,4,5,6,7,8,9,treatment
0,-0.022433,-0.291544,-0.801035,-0.863566,-1.364132,0.289464,-0.547458,0.476320,-1.201910,1.255640,-0.636695
1,1.966269,-0.217084,0.424805,1.259687,-0.451355,0.267445,0.035733,-0.784770,0.678395,0.216595,-0.435382
2,0.059271,-0.748206,-1.285882,-1.457093,0.129219,1.018657,-0.993804,0.591599,-1.131242,-1.216257,-1.433452
3,-0.716661,0.591091,1.378270,0.113014,-0.237771,-0.540047,-0.115794,-1.173828,0.107372,-0.484772,0.313960
4,0.654253,-1.788329,0.247017,-0.113378,0.184156,1.027562,0.333471,2.265430,0.465300,1.274601,1.961336

In [33]:
df.drop("treatment", axis=1,inplace=True)

In [34]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.022433,-0.291544,-0.801035,-0.863566,-1.364132,0.289464,-0.547458,0.476320,-1.201910,1.255640
1,1.966269,-0.217084,0.424805,1.259687,-0.451355,0.267445,0.035733,-0.784770,0.678395,0.216595
2,0.059271,-0.748206,-1.285882,-1.457093,0.129219,1.018657,-0.993804,0.591599,-1.131242,-1.216257
3,-0.716661,0.591091,1.378270,0.113014,-0.237771,-0.540047,-0.115794,-1.173828,0.107372,-0.484772
4,0.654253,-1.788329,0.247017,-0.113378,0.184156,1.027562,0.333471,2.265430,0.465300,1.274601

In [45]:
df["treatment"] = 0

df.loc[[0,2,4,6,8], "treatment"] = 1

In [47]:
df

,0,1,2,3,4,5,6,7,8,9,treatment
0,1.065620,0.848316,0.537747,1.809141,1.150861,-1.642336,-1.703100,-0.572185,2.083855,0.165562,1
1,0.928496,0.617236,1.377236,0.799940,0.298931,-0.083042,0.387809,0.344937,0.593427,-0.041678,0
2,0.501742,-1.261776,-0.468555,2.063741,0.849618,0.143737,-1.995591,0.035631,1.054814,0.372856,1
3,-0.186301,0.752821,-0.342489,-0.455733,-0.244811,-0.099429,-0.833695,1.097078,0.286862,0.175641,0
4,0.194202,-2.198210,-1.392102,-1.860015,0.501946,-1.202130,1.044093,-0.045812,0.393329,-0.051183,1
5,2.060902,0.319825,-0.071296,1.751154,-0.678135,0.705503,-0.486143,0.069848,-1.423479,-0.436372,0
6,-0.064964,-0.405323,0.342096,-0.069606,0.385166,0.521799,-0.857263,1.196135,0.421464,-1.754175,1
7,0.520741,-0.800594,-1.099800,-1.000811,0.182805,1.154522,-0.676141,0.585453,-1.787762,0.770321,0
8,-0.701592,1.194148,0.801058,0.196643,-0.485718,-0.082036,0.252414,2.301786,0.799799,-0.863571,1
9,-0.658044,1.034811,-1.869259,0.273465,0.249081,0.405705,0.595146,-0.532276,-1.598169,1.467161,0

In [48]:
X_c = df[df["treatment"] == 0]
X_t = df[df["treatment"] == 1]

pd.concat([X_c, X_t], sort=False).sort_index()

,0,1,2,3,4,5,6,7,8,9,treatment
0,1.065620,0.848316,0.537747,1.809141,1.150861,-1.642336,-1.703100,-0.572185,2.083855,0.165562,1
1,0.928496,0.617236,1.377236,0.799940,0.298931,-0.083042,0.387809,0.344937,0.593427,-0.041678,0
2,0.501742,-1.261776,-0.468555,2.063741,0.849618,0.143737,-1.995591,0.035631,1.054814,0.372856,1
3,-0.186301,0.752821,-0.342489,-0.455733,-0.244811,-0.099429,-0.833695,1.097078,0.286862,0.175641,0
4,0.194202,-2.198210,-1.392102,-1.860015,0.501946,-1.202130,1.044093,-0.045812,0.393329,-0.051183,1
5,2.060902,0.319825,-0.071296,1.751154,-0.678135,0.705503,-0.486143,0.069848,-1.423479,-0.436372,0
6,-0.064964,-0.405323,0.342096,-0.069606,0.385166,0.521799,-0.857263,1.196135,0.421464,-1.754175,1
7,0.520741,-0.800594,-1.099800,-1.000811,0.182805,1.154522,-0.676141,0.585453,-1.787762,0.770321,0
8,-0.701592,1.194148,0.801058,0.196643,-0.485718,-0.082036,0.252414,2.301786,0.799799,-0.863571,1
9,-0.658044,1.034811,-1.869259,0.273465,0.249081,0.405705,0.595146,-0.532276,-1.598169,1.467161,0