In [1]:
import pandas as pd

In [25]:
def etl_calendar(start, end, columns = ['day','month','year','week','weekday','month_name','weekday_name'],
                    locale=None):
    calendar = pd.DataFrame(pd.date_range(start=start, end=end),columns=['date'])
    if 'day' in columns:
        calendar['day'] = calendar.date.dt.day
    if 'month' in columns:
        calendar['month'] = calendar.date.dt.month
    if 'year' in columns:
        calendar['year'] = calendar.date.dt.year
    if 'week' in columns:
        calendar['week'] = calendar.date.dt.week
    if 'weekday' in columns:
        calendar['weekday'] = calendar.date.dt.weekday
    if 'month_name' in columns:
        calendar['month_name'] = calendar.date.dt.month_name()
    if 'weekday_name' in columns:
        calendar['weekday_name'] = calendar.date.dt.day_name()
    return calendar

In [26]:
etl_calendar('2006','2007')

/home/joaoholz/miniconda3/envs/jh-utils/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  # This is added back by InteractiveShellApp.init_path()

          date  day  month  year  week  weekday month_name weekday_name
0   2006-01-01    1      1  2006    52        6    January       Sunday
1   2006-01-02    2      1  2006     1        0    January       Monday
2   2006-01-03    3      1  2006     1        1    January      Tuesday
3   2006-01-04    4      1  2006     1        2    January    Wednesday
4   2006-01-05    5      1  2006     1        3    January     Thursday
..         ...  ...    ...   ...   ...      ...        ...          ...
361 2006-12-28   28     12  2006    52        3   December     Thursday
362 2006-12-29   29     12  2006    52        4   December       Friday
363 2006-12-30   30     12  2006    52        5   December     Saturday
364 2006-12-31   31     12  2006    52        6   December       Sunday
365 2007-01-01    1      1  2007     1        0    January       Monday

[366 rows x 8 columns]